@model IEnumerable<SES_F1.Class>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@ViewBag.Message

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Class Name
        </th>
        <th>
            Total Students
        </th>
        <th>
            Grade
        </th>
        <th>
            Attendance
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Students.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.ActionLink("Mark Attendance", "Attendance","Teacher", new { ClassID = item.ClassID },new { @class= "btn" } );
</td>


</tr>
}

</table>
