@model IEnumerable<SES_F1.Teacher>

@{
    ViewBag.Title = "AssignClass";
}

<h2>AssignClass</h2>

<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("AssignClass", "Admin", FormMethod.Post,
                      new { enctype = "multipart/form-data" }))
{
    <label>Teacher: </label>
<select name="teacher" id="teacher" class="form-control">
    @foreach (Teacher item in Model)
    {
        <option value="@item.Teacherid">
            @item.FirstName
        </option>
    }
</select>

List<Class> classes = new SESEntities().Classes.ToList();

<label>Class: </label>
<select name="class" id="Class" class="form-control">
    @foreach (Class item in classes)
    {
        <option value="@item.ClassID">
            @item.ClassName
        </option>
    }
</select>
<br />
<input class="btn" type="submit" value="Assign" />
    }