@model SES_F1.Class

@{
    ViewBag.Title = "View Class";
}



<h2>View Class</h2>

<div>
    <h4>Class @Model.ClassName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Class Teacher
        </dt>

        <dd>
            @{ 
                var t = Model.Teachers.AsEnumerable();
                foreach (var item in t)
                {
                    <p>
                        @item.FirstName
                    </p>
                }
            }
        </dd>


        <dt id="swe">
           <button id="btn1" class="btn">View Students</button>
        </dt>
        <dd id="test"></dd>
        

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualCharges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualCharges)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmissionFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmissionFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model=>Model.Subjects)
        </dt>
        <dd>
            @foreach (var item in Model.Subjects)
            {
                <p>@item.Name</p>
            }
            
        </dd>
        <dd>
            <button id="editSubjects" onclick="document.location.href='http://localhost:54195/Admin/EditSubjects?classID=@Model.ClassID'" class="btn btn-primary">Edit Subjects</button>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClassID })
    @Html.ActionLink("Back to List", "Classes")
</p>


@* following script is only for practice *@
<script>
        $(document).ready(function () {
            $('#btn1').on('click', function () {
                var stds = $('<p>Showing Students</p>');
                var req = {
                    "classID": @Model.ClassID
                };
                $.get("http://localhost:54195/Admin/ViewStudentsbyClass",req, function (data, status) {
                    $("#test").html(data);
                    alert(status);
                });
                $('#swe').append(stds);
                $('#btn1').remove();
            });
    });

    $(document).ready(function () {
        var a = 56;
        var b = "umar";
        $('#test').html = a + b;
    });
    
</script>

